body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #fddde6; /* Rosa pastel */
    color: #db05a9; /* Rosa escuro */
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #db05a9;
    color: white;
}

.livros-disponiveis, .autores-principais, .livros-favoritados {
    padding: 60px;
}


img {
    max-width: 150px;
    height: auto;
}

.add-to-cart, .visualizar1 {
    background-color: #ff69b4; /* Cor do botão */
    color: #fff;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
    display: block;
    text-decoration: none;
    margin: 10px auto 20px; /* Alinhar e centralizar o botão na vertical */
}

.add-to-cart, .visualizar1:hover {
    background-color: #ff1493; /* Cor do botão ao passar o mouse */
    color: #fff;
}

.add-to-cart, .visualizar1:visited {
    background-color: #ff1493; /* Cor do botão ao passar o mouse */
    color: #fff;
}

a{
    text-decoration: none;
}

a:visited{
    color: #fff;
    text-decoration: none;
}



.cart {
    margin-top: 20px;
}

.empty-cart {
    font-size: 24px;
    font-weight: bold;
    color: rgb(252, 161, 203);
}

.recommendations {
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
    color: green;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fdfdfd;
    margin-right: 20px; /* Adicionando margem à direita */
}

nav.categorias {
    display: flex;
    align-items: center;
}

.carrinho {
    font-style: normal;
    font-weight: bold;

}

nav.categorias ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav.categorias ul li {
    margin-right: 15px;
}

nav.categorias ul li a {
    color: hsl(0, 0%, 98%);
    text-decoration: none;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-bar button {
    padding: 8px 15px;
    background-color: #e21ca0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.livros-disponiveis {
    margin-bottom: 60px; 
}
.autores-principais {
    margin-top: 60px; 
}
.livros-favoritados{
    margin-top: 60px;
}
.livro, .autor, .favorito {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-right: 10px;
    width: 200px;
}

.livros-carousel, .autores-carousel, .favoritos-carousel {
    display: flex;
    overflow-x:auto; 
}

.img_livro{
    width: 200px;
    height: 200px;
}
.img_autor{
    width: 200px;
}
.img_favorito{
    width: 200px;
}

h1 {
    text-align: center;
    margin: 30px 0;
    font-size: 35px;
}

footer {
    background-color: #F6D9E2;
    padding: 20px;
    text-align: center;
}

.livros-usados {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}


.livro-usado {
    width: 250px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.livro-usado img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

.livro-usado .detalhes h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.livro-usado .detalhes p {
    margin-bottom: 5px;
}

.livro-usado button {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.itens-carrinho {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.item {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.item img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

.item .detalhes h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.item .detalhes p {
    margin-bottom: 5px;
}

.item button {
    padding: 8px 15px;
    background-color: #f389ca;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    background-color: #F6D9E2;
    padding: 20px;
    text-align: center;
}


.formulario-suporte {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario-suporte h2 {
    margin-bottom: 20px;
}

.formulario-suporte label {
    display: block;
    margin-bottom: 10px;
}

.formulario-suporte input[type="text"],
.formulario-suporte select,
.formulario-suporte textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.formulario-suporte textarea {
    resize: vertical;
}

.formulario-suporte button {
    padding: 10px 16px;
    background-color: #ff69b4;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.formulario-suporte button:hover {
    background-color: #ff1493;
}

.contato-admin {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contato-admin h2 {
    margin-bottom: 20px;
}

.box-inf-livro{
    height: 200px;
}

.box-inf-livro-fav{
    height: 150px;
}

